{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <h2 class="mb-4">Login</h2>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Login</button>
  </form>

  <hr>

  <p>Нямаш акаунт?</p>
  <!-- използваме namespace 'users' -->
  <a href="{% url 'users:register_student' %}" class="btn btn-outline-success">
      Регистрация като студент
  </a>
  <a href="{% url 'users:register_teacher' %}" class="btn btn-outline-info">
      Регистрация като преподавател
  </a>
</div>
{% endblock %}
